<style>
.alerts {
  position: absolute;
  top: 1em !important;
  bottom: auto !important;
  right: 2.5em !important;
  width: auto !important;
}
.alert {
  z-index: 9999 !important; 
  border-radius: 2em !important;
  animation: hideMe 5s 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
.close {
  background-color: transparent;
  border: none;
}
@keyframes hideMe {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
</style>

<div class="alerts">
<% flash.each do |type, message| %>
  <%-unless [true, "true", :true].include? message%>
    <div class="alert <%= bootstrap_class_for(type) %> alert-dismissible fade-out show" role="alert">
      <button class="close" data-dismiss="alert">×</button>
      <span class="sr-only"><%= type.capitalize%>:</span>
      <%= message %>
    </div>
  <%-end%>
<% end %>
</div>
