html, body {
    width: 100vw;
    height: 100vh;
}
body {
    margin: 0;
    background-color: #37505C;
    overflow: hidden;
    color: #FFEAD0;
}
h2 {
  display: none;
}
/* unvisited link */
a:link {
  color: #F76F8E;
}

/* visited link */
a:visited {
  color: #96616B;
}

/* mouse over link */
a:hover {
  color: #FFEAD0;
}

/* selected link */
a:active {
  color: #F76F8E;
}
.container {
  display : flex;
  flex-direction: column;
  align-items : center;
  justify-content: space-evenly;
  min-height: calc(100vh - 2em);
}
#footer {
  display : flex;
  align-items : center;
  justify-content: center;
  background-color: #113537;
  width: 100vw;
  height: 2em;
  color: #FFEAD0;
  padding-top: 4px;
  padding-bottom: 4px;
}
#footer img {
    height: 2em;
}
#main-menu-app-header, #main-menu-app-description {
  display: none;
}
#main-menu-app-logo {
  width: 10vw;
}
.contained {
  display : flex;
  flex-direction: column;
  align-items : center;
  justify-content: space-evenly;
  width: 30vw;
  background-color: #113537;
  border-radius: 1em;
  border: 1px solid #96616B;
  padding: 1em;
}
.contained div {
  margin-bottom: 1em;
}
#user_password, #user_email {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-check-label {
  color: #FFEAD0;
}

.alert-warning {
    color: #113537;
    background-color: #F6BB42;
    border-color: #96616B;
}

.alert-success {
    color: #113537;
    background-color: #37BC9B;
    border-color: #96616B;
}

.alert-danger {
    color: #113537;
    background-color: #E9573F;
    border-color: #96616B;
}

.alert-info {
    color: #113537;
    background-color: #CCCCCC;
    border-color: #96616B;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

input[name=commit] {
  color: white;
  background-color: #ED6A16;
  width: 100%;
  border-color: #BD4B39;
  border-radius: 2em;
  -webkit-appearance: button;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@import '/devise/custom/sessions';
