<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.19.5/swagger-ui.css" >
    <style>
    .swagger-ui .topbar {
      display: none;
    }
    </style>
  </head>

  <body>
    <div id="swagger-ui"></div>
    <%=yield%>
  </body>
</html>